* {
    margin: 0;
	padding: 0;
    outline: none;
    font-family: 'Poppins', sans-serif;
}

/* Font */
@import url('https://fonts.googleapis.com/css2?family=Poppins:wght@400;700&display=swap');

.nav-item {
    padding-left: 15px;
}

.nav-potensi {
    background-color:#67D065;
    border-radius: 5px;
}

.nav-layanan {
    background-color: #65BDD0;
    border-radius: 5px;
}

/* *HOMEPAGE */
.homepage {
    position: relative;
}
.homepage .banner {
    width: 100%;
    height: 600px;
    background-image: url("../photos/homepage/banner.jpg");
    background-position: 50% 50%;
    background-repeat: no-repeat;
    background-size: cover;
}

.homepage > .banner > p {
    position: absolute;
    color: white;
    font-size: 3em;
    font-weight: bold;
    top: 250px;
    left: 100px;
}

/* *Homepage Berita */
.homepage .berita {
    width: 100%;
    margin-bottom: 20px;
    padding: 20px;
}

.homepage .berita .card {
    box-shadow: 0 4px 8px 0 rgba(0, 0, 0, 0.2), 0 6px 20px 0 rgba(0, 0, 0, 0.19);
}

.homepage .berita p.text {
    font-weight: 700;
    font-size: 2em;
    text-align: center;
}

.homepage .berita img {
    height: 200px;
    object-fit: cover;
}

/* *LUAS */
.luas {
    /* min-height: 200px; */
    background-color: #182227;
    padding: 20px 0 20px 0;
    text-align: center;
    color: white;
}

.luas p {
    font-weight: 700;
    font-size: 2em;
}

/* *Populasi */
.homepage .populasi {
    background-color: #223138;
    min-height: 200px;
    padding: 20px 0 20px 0;
}

.homepage .populasi p.text {
    text-align: center;
    color: white;
    font-weight: 700;
    font-size: 2em;
}

.homepage .populasi .number {
    font-weight: 700;
    font-size: 1.5em;
    color: white;
}

/* *Homepage Potensi Desa */
.homepage .potensi {
    width: 100%;
    margin-bottom: 20px;
    padding: 20px;
}

.homepage .potensi .card {
    box-shadow: 0 4px 8px 0 rgba(0, 0, 0, 0.2), 0 6px 20px 0 rgba(0, 0, 0, 0.19);
}

.homepage .potensi p.text {
    text-align: center;
    font-weight: 700;
    font-size: 2em;
}

.homepage .potensi p.card-text {
    font-weight: 700;
    font-size: 1.2em;
    text-align: center;
}

.homepage .potensi img {
    height: 200px;
    object-fit: cover;
}

/* !PROFIL */
.profil {
    position: relative;
}
.profil .banner {
    width: 100%;
    height: 600px;
    background-image: url("../photos/profile/agriculture.jpg");
    background-position: 50% 50%;
    background-repeat: no-repeat;
    background-size: cover;
}

.profil > .banner > p {
    position: absolute;
    color: white;
    font-size: 3em;
    font-weight: bold;
    top: 20%;
    left: 40%;
}

.profil .desa {
    padding: 20px 0 20px 0;
}

.profil .desa .box {
    width: 80%;
    background-color: #C4C4C4;
    border-radius: 10px;
    margin: auto;
    padding: 20px;
}

.profil p {
    text-align: center;
    font-weight: 700;
}

.profil .col-md-4{
    padding: 15px;
}

.profil .card img{
    padding: 40px;
}

.profil img {
    justify-content: center;
    text-align: center;
    align-items: center;
}

/* !INFOGRAFIS */
.infografis .jumbotron {
    width: 100%;
    min-height: 500px;
    margin-top: 50px;
}

.infografis .jumbotron .text {
    width: 50%;
}

.infografis .jumbotron .image {
    float: right;
    width: 50%;
}

.infografis p.text {
    font-weight: 700;
    font-size: 1.3em;
}

.infografis .demografi,
.infografis .pendidikan,
.infografis .pekerjaan,
.infografis .kelompok_umur,
.infografis .agama {
    margin-top: 20px;
}

.infografis .card{
    width: 60%;
}

/* !Potensi Desa */

.potensi_desa {
    /* padding-bottom: 20px; */
    /* min-height: 2000px; */
}

.potensi_desa p.title{
    font-weight: 700;
    text-align: center;
    font-size: 2em;
    padding-top: 20px
}

.potensi_desa .guest_house {
    width: 100%;
    padding-top: 25px;
}

.potensi_desa .umkm > p.title {
    text-align: center;
}

.potensi_desa .content div {
    padding: 5px 0 0 15px;
    text-align: center;
}

.potensi_desa .name,
.potensi_desa .phone,
.potensi_desa .social1,
.potensi_desa .social2 {
    padding: 5px 0 5px 20px;
}

.potensi_desa .social1,
.potensi_desa .social2 {
    width: 100%;
    background-color: #F6AE99;
}

.potensi_desa img {
    height: 200px;
    object-fit: cover;
}

.potensi_desa .wisata,
.potensi_desa .seni_budaya {
    width: 100%;
    padding: 20px;
    background-color: #E5E5E5;
    margin-top: 20px;
}

/* ! Layanan */
.layanan {
    min-height: 500px;
    padding: 20px;
}

.layanan > p.title {
    font-weight: 700;
    font-size: 2em;
    text-align: center;
}

.layanan > h4,
.layanan > h5 {
    text-align: center;
}

.layanan .calling {
    width: 150px;
    padding: 10px;
    margin: 0 auto;
    text-align: center;
    background-color: #29B73F;
    border-radius: 10px;
    color: white;
}

/* ! Berita Desa */
.berita_desa {
    padding: 20px;
    background-color: #e5e5e5;
}

.berita_desa p.title {
    font-weight: 700;
    font-size: 2em;
    text-align: center;
    padding: 20px;
}

.berita_desa .card {
    margin-bottom: 20px;
}

.berita_desa img {
    height: 200px;
    object-fit: cover;
}

/* ! List seni budaya */
.list_seni_budaya {

}

.list_seni_budaya p.title {
    font-weight: 700;
    text-align: center;
    padding: 20px;
}

/* ------------------------------------------- List UMKM */
.daftar_umkm p.title {
    font-weight: 700;
    font-size: 2em;
    text-align: center;
    padding: 20px;
}

.daftar_umkm .name,
.daftar_umkm .phone,
.daftar_umkm .social1,
.daftar_umkm .social2 {
    padding: 5px 0 5px 20px;
}

.daftar_umkm .social1,
.daftar_umkm .social2 {
    width: 100%;
    background-color: #F6AE99;
}

.daftar_umkm .card img {
    height: 200px;
    object-fit: cover;
}
/* ----------------------------------------------------- */

/* ------------------------------------------- List Wisata */
.daftar_wisata p.title {
    font-weight: 700;
    font-size: 2em;
    text-align: center;
    padding: 20px;
}

.daftar_wisata .name,
.daftar_wisata .phone,
.daftar_wisata .social1,
.daftar_wisata .social2 {
    padding: 5px 0 5px 20px;
}

.daftar_wisata .social1,
.daftar_wisata .social2 {
    width: 100%;
    background-color: #F6AE99;
}

.daftar_wisata .card img {
    height: 200px;
    object-fit: cover;
}
/* ----------------------------------------------------- */

/* ------------------------------------------- List Seni Budaya */
.daftar_senibudaya p.title {
    font-weight: 700;
    font-size: 2em;
    text-align: center;
    padding: 20px;
}

.daftar_senibudaya .name,
.daftar_senibudaya .phone,
.daftar_senibudaya .social1,
.daftar_senibudaya .social2 {
    padding: 5px 0 5px 20px;
}

.daftar_senibudaya .social1,
.daftar_senibudaya .social2 {
    width: 100%;
    background-color: #F6AE99;
}

.daftar_senibudaya .card img {
    height: 200px;
    object-fit: cover;
}
/* ----------------------------------------------------- */

/* ------------------------------------------- List guest house */
.daftar_guesthouse p.title {
    font-weight: 700;
    font-size: 2em;
    text-align: center;
    padding: 20px;
}

.daftar_guesthouse .name,
.daftar_guesthouse .phone,
.daftar_guesthouse .social1,
.daftar_guesthouse .social2 {
    padding: 5px 0 5px 20px;
}

.daftar_guesthouse .social1,
.daftar_guesthouse .social2 {
    width: 100%;
    background-color: #F6AE99;
}

.daftar_guesthouse .card img {
    height: 200px;
    object-fit: cover;
}
/* ----------------------------------------------------- */

/* *Footer */
footer {
    background-color: #223138;
    padding: 40px;
    display: flex;
}

footer .location,
footer .socials,
footer .contact {
    flex: 1;
    text-align: center;
}

footer p.title {
    font-weight: 700;
    color: white;
    font-size: 1.3em;
}

footer p {
    color: white;
}

.copyright {
    background-color: black;
    color: white;
}

@media only screen and (max-width: 768px) {
    /* For mobile phones: */
    .homepage > .berita > .collection {
        display: flex;
        flex-direction: column;
        margin: 20px;
    }

    .homepage > .potensi > .collection {
        display: flex;
        flex-direction: column;
        margin: 20px;
    }

    .homepage .berita .card {
        margin-bottom: 20px;
    }

    footer {
        flex-direction: column;
    }

    .homepage .potensi .card {
        margin-bottom: 20px;
    }

    .potensi_desa .card {
        margin-bottom: 20px;
    }

    .infografis .card{
        width: 100%;
    }

  }
